@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 0px;
}

/* Page transitions */
.transition-transform {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.parent {  display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-template-rows: 48px 1fr 48px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "empty4 div1 empty"
    "div4 div5 div2"
    "empty3 div3 empty2";
}

@media (min-width: 1024px) {
    .parent {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 5% 90% 5%;
    }
}

.div1 { grid-area: div1; }

.div2 { grid-area: div2; }

.div3 { grid-area: div3; }

.div4 { grid-area: div4; }

.div5 { grid-area: div5; }

.empty { grid-area: empty; }

.empty2 { grid-area: empty2; }

.empty3 { grid-area: empty3; }

.empty4 { grid-area: empty4; }

.right-arrow-alt, .left-arrow-alt, .top-arrow-alt, .bottom-arrow-alt {
    display: none;
}

.div1:hover .top-arrow {
    display: none;
}

.div2:hover .right-arrow {
    display: none;
}

.div3:hover .bottom-arrow {
    display: none;
}

.div4:hover .left-arrow {
    display: none;
}

.div1:hover .top-arrow-alt {
    display: block !important;
}

.div2:hover .right-arrow-alt {
    display: block !important;
}

.div3:hover .bottom-arrow-alt {
    display: block !important;
}

.div4:hover .left-arrow-alt {
    display: block !important;
}

