---

---

<script>
	window.onload = () => {
		let navbar__links = document.querySelectorAll('nav a');
		navbar__links.forEach((link) => {
			if (link.href === window.location.href) {
				link.classList.add('italic');
				link.classList.add('text-secondary');
				link.classList.remove('hover:text-secondary');
			}
		});
	}

	let navbar__dropdown = document.getElementById('navbar__dropdown');
	navbar__dropdown.addEventListener('mouseenter', () => {
		navbar__dropdown.children[1].classList.remove('hidden');
	});
	navbar__dropdown.addEventListener('mouseleave', () => {
		navbar__dropdown.children[1].classList.add('hidden');
	});
</script>

<div class="h-24 p-2 flex flex-row items-center text-2xl font-medium text-primary justify-between">
    <div class="h-full flex flex-row items-center">
        <img class="h-full w-auto ml-3" src="/Logo.png"
             alt="My own personal logo, shaped like a minimalistic 2d boat that is shattered." width="512"
             height="512"/>
        <nav class=" ml-5 flex flex-row items-center gap-5">
            <a href="/" id="home" class="hover:text-secondary">Home</a>
            <div class="relative inline-block" id="navbar__dropdown">
                <p class="cursor-pointer hover:text-secondary">About Me</p>
                <!-- TODO: arrow down icon -->
                <div class="hidden absolute bg-primary w-64 shadow-xl rounded-2xl">
                    <div class="m-3">
                        <a href="/about/professional" class="block text-secondary">Professional</a>
                        <p class="text-sm text-secondary">Developer, Projects, Knowledge</p>
                    </div>
                    <hr class="border-secondary "/>
                    <div class="m-3">
                        <a href="/about/personal" class="block text-secondary">Personal</a>
                        <p class="text-sm text-secondary">Music enthusiast, Blog, Socials</p>
                    </div>
                </div>
            </div>
            <a href="/contact" class="hover:text-secondary">Contact</a>
        </nav>
    </div>
    <div class="mr-5 gap-5 flex">
        <a href="#" class="hover:text-secondary">cs</a>
        <a href="#" class="hover:text-secondary">en</a>
    </div>
</div>