@font-face {
    font-family: "Hack NF Regular";
    src: url("fonts/HACKREGULARNERDFONTCOMPLETE.TTF");
}

@font-face {
    font-family: "Hack NF Bold Italic";
    src: url("fonts/HACKBOLDITALICNERDFONTCOMPLETE.TTF");
}

@font-face {
    font-family: "Hack NF Bold";
    src: url("fonts/HACKBOLDNERDFONTCOMPLETE.TTF");
}

@font-face {
    font-family: "Hack NF Italic";
    src: url("fonts/HACKITALICNERDFONTCOMPLETE.TTF");
}

html,
body {
    font-family: "Hack NF Regular";

    margin: 0;
    padding: 0;

    height: 100%;
    overflow: hidden;

    background-color: #282828;

    -khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}