@font-face {
    font-family: "Hack NF Regular";
    src: url("public/fonts/HACK\ REGULAR\ NERD\ FONT\ COMPLETE.TTF");
}

@font-face {
    font-family: "Hack NF Bold Italic";
    src: url("public/fonts/HACK\ BOLD\ ITALIC\ NERD\ FONT\ COMPLETE.TTF");
}

@font-face {
    font-family: "Hack NF Bold";
    src: url("public/fonts/HACK\ BOLD\ NERD\ FONT\ COMPLETE.TTF");
}

@font-face {
    font-family: "Hack NF Italic";
    src: url("public/fonts/HACK\ ITALIC\ NERD\ FONT\ COMPLETE.TTF");
}

html,
body {
    font-family: "Hack NF Regular";

    margin: 0;
    padding: 0;

    height: 100%;
    overflow: hidden;

    background-color: #282828;

    -khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}