body, html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #c8bb98;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

body svg {
    position: absolute;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
    
}

body svg:nth-child(1) {
    left: calc(50% - 162px/2 - 33px);
    top: calc(50% - 246.5px/2 - 54.25px);
}

body svg:nth-child(2) {
    left: calc(50% - 93.5px/2 - 65.25px);
    top: calc(50% - 187px/2 - 5px);

}

body svg:nth-child(3) {
    left: calc(50% - 124px/2 - 89px);
    top: calc(50% - 82px/2 + 129.5px);

}

body svg:nth-child(4) {
    left: calc(50% - 172.5px/2 - 60.75px);
    top: calc(50% - 87px/2 + 135px);

}

body svg:nth-child(5) {
    left: calc(50% - 121.5px/2 + 70.75px);
    top: calc(50% - 80px/2 + 25.5px);


}

body svg:nth-child(6) {
    left: calc(50% - 151px/2 + 75.5px);
    top: calc(50% - 187px/2 + 76px);

}

.path {
    opacity: .5;  
    pointer-events: auto;
}

.shard {

    pointer-events: none;
}

.shard,.path {
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shard:hover {
    transform: scale(1.2);
    
}

.shard:hover  .path{
   opacity: 1;
}

.another-test {
    transition: all .7s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: red;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}